* {
    margin: 0;
}
body {
    background-color: rgb(189, 174, 174);
    margin: 10px;
}


.container {
    display: grid;
    height: 20em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 2rem;
    width: 100%;
}

img {
    width: 5%;
    height: 5%;
    border-radius: 50%;
}

.purple {
    background-color: rgb(89, 7, 202);
    grid-column: span 2;
    grid-row: 1/2;
    padding: 2rem;
    border-radius: 5px;
    
}

.purple-content {
    display: flex;
    gap: 15px;
    justify-items: center;
    align-items: center;

}

h1{
    color: white;
    font-size: 1.2rem;
}

p {
    color: white;
}

h2 {
    color: white;
    font-size: 1.8rem;
}

.grey {
    background-color: grey;
    grid-row: 1/2;
    padding: 2rem;
    border-radius: 5px;
  
}

.img2 {
    width: 10%;
    height: 10%;
    border-radius: 50%;  
    
}

.white1 {
    background-color: white;
    grid-row: 1/4;
    padding: 2rem;
    border-radius: 5px;
   
}

.colored {
    color: black;
}

.img3 {
    width: 15%;
    height: 15%;
    border-radius: 50%; 
}

.white2 {
    background-color: white;
    padding: .5rem;
    border-radius: 5px;
}

.blue {
    background-color: black;
    grid-column: span 2;
    padding: .5rem;
    border-radius: 5px;
}

.big-text {
    padding: 2rem 0 ;
}

.small-text {
    padding: 1rem 0;
}

/* Tablet Media querry */

@media (max-width: 1024px){
    
    .container {
        display: grid;
        height: 20em;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    
    
    
    .purple {
        background-color: rgb(89, 7, 202);
        grid-column: span 4;
        grid-row: 1/3;
       
    }
    
    .grey {
        background-color: grey;
        grid-row: 3/4;
    }
    
    .white1 {
        background-color: white;
        grid-column: span 3;
        grid-row: 3/6;

       
       
    }
    
    .white2 {
        background-color: white;
        grid-row: 5/6;
    }
    
    .blue {
        background-color: black;
        grid-row: 6/8;
        grid-column: span 4;
       
    }
   
} 

@media (max-width: 480px) { 
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 20em;
        gap: 2rem;
        width: 100%;
    
    }

    .purple {
        background-color: rgb(89, 7, 202);
        grid-row: 1/2;
        padding: 2rem;
        border-radius: 5px;
        
    }

    .grey {
        background-color: grey;
        grid-row: 2/3;
    }

    .white1 {
        background-color: white;
        grid-row: 3/4;

       
       
    }

    .white2 {
        background-color: white;
        grid-row: 4/5;
    }
    
    .blue {
        background-color: black;
        grid-row: 5/6;
       
    }
    
} 

/* Media querry for mobile */

@media (max-width: 480px) { 
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 20em;
        gap: 2rem;
        width: 100%;
    
    }

    .purple {
        background-color: rgb(89, 7, 202);
        grid-row: 1/2;
        padding: 2rem;
        border-radius: 5px;
        
    }

    .grey {
        background-color: grey;
        grid-row: 2/3;
    }

    .white1 {
        background-color: white;
        grid-row: 3/4;

       
       
    }

    .white2 {
        background-color: white;
        grid-row: 4/5;
    }
    
    .blue {
        background-color: black;
        grid-row: 5/6;
       
    }
    
} 